</head>
<body>
  <nav>
    <a id="icon"
      href="/">
      <i class="fas fa-jet-fighter fa-2x">MF</i>
    </a>
    <a 
      href="/meals/new"
    >Add Meal</a>
    <a 
      href="/flights/new"
    >Add Flight</a>
    <a 
      href="/flights"
    >All Flights</a>
  </nav>