</head>
<body>
  <nav>
    <i class="fas fa-jet-fighter fa-2x"></i>
    <a 
      href="/meals/new"
    >Add Meal</a>
    <a 
      href="/flights/new"
    >Add Flight</a>
    <a 
      href="/flights"
    >All Flights</a>
  </nav>